@model NBDProject2024.Models.Client

<h4 class="mb-3">Contact Information</h4>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <div class="form-group col-md-6 mb-3">
        <label asp-for="FirstName" class="control-label">First Name*:</label>
        <input asp-for="FirstName" class="form-control" placeholder="E.g. John" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6 mb-3">
        <label asp-for="LastName" class="control-label">Last Name*:</label>
        <input asp-for="LastName" class="form-control" placeholder="E.g. Doe" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
</div>

<div class="form-group">
    <label asp-for="MiddleName" class="control-label">Middle Name (optional):</label>
    <input asp-for="MiddleName" class="form-control" placeholder="E.g. Jeremy" />
    <span asp-validation-for="MiddleName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="CompanyName" class="control-label">Company Name*:</label>
    <input asp-for="CompanyName" class="form-control" placeholder="Acme Inc." />
    <span asp-validation-for="CompanyName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Email" class="control-label">Email*:</label>
    <input asp-for="Email" class="form-control" placeholder="E.g. example@outlook.com" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Phone" class="control-label">Phone Number*:</label>
    <input asp-for="Phone" class="form-control" placeholder="E.g. 1234567891" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
