@model NBDProject2024.Models.Client

<partial name="_ViewHeading" />

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />




<div class="row">

    <form asp-action="Edit" class="card p-2" data-client-address="true">
        <div class="col-md-6 order-md-0 mb-4">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="RowVersion" />
            <partial name="_ClientContactFields" model="Model" />

        </div>
        <hr />
        <div class="col-md-6 order-md-1">
            <partial name="_ClientAddressFields" model="Model" />
        </div>



        <div class="form-group  order-md-2">
            <input type="submit" class="btn btn-primary btn-lg " />
        </div>
        <div class=" order-md-3">
            <a asp-action="Index">Back to List</a>
        </div>

    </form>
    <br />

</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/multiselect.js"></script>
    <script src="~/js/refreshDDL.js"></script>
    <script src="~/js/clients-address.js" asp-append-version="true"></script>

}
