@model NBDProject2024.Models.Labour

<form asp-controller="Labours" asp-action="Create" method="post" id="createLabourForm">
    <div class="row">
        <div class="col-md-12">
            <div class="text-danger validation-summary-errors"><ul id="ErrorList"></ul></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" id="submitLabourCreate" value="Save" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
</form>