@model NBDProject2024.Models.BidMaterial

<form asp-controller="BidMaterials" asp-action="Create" method="post" id="theMaterialForm">
    <input type="hidden" asp-for="BidID" value='@ViewData["BidID"]' />
   
    <div class="row">
        <div class="col-md-12">
            <div class="text-danger validation-summary-errors"><ul id="ErrorList"></ul></div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaterialQuantity" class="control-label"></label>
                <input asp-for="MaterialQuantity" class="form-control" />
                <span asp-validation-for="MaterialQuantity" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="MaterialID" class="control-label"></label>
                <select asp-for="MaterialID" class="form-control" asp-items="ViewBag.MaterialID" >
                    <option value="">Select Material</option>
                </select>
            </div>
           
            <div class="form-group">
                <input type="submit" id="submitMaterialForm" value="Add" class="btn btn-outline-dark" />
            </div>
            
        </div>
    </div>
</form>


<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

